*{
    padding: 0;
    margin: 0;
}
#container{
    position: relative;
    width: 550px;
    height: 400px;
    background: url("images/background.png");
    margin: 0 auto;
    overflow: hidden;
}
.planeA{
    position: absolute;
    left: 0px;
    background: url("images/plane0001.png");
}

.planeB{
    position: absolute;
    left: 481px;
    background: url("images/plane0002.png");
}
.guns{
    position: absolute;
    background: url("images/gun.png");
    height: 49px;
    width: 47px;
    left: 250px;
    top: 351px;
}
.gun{
    position: absolute;
   background-color: chocolate;
    border-radius: 50%;
    left: 263px;
    top: 326px;
}